<aside class="aside" ng-class="{'opened' : asideOpened,'closed': !asideOpened}">

    <div class="logo">
        <span class="logo__text">iWords</span>
    </div>

    <ul class="navigation">

        <li class="navigation__item">
            <a class="navigation__link {{activatedRoute name 'app.dashboard' 'navigation__link--active'}}" href="/app">
                <span class="fa fa-leanpub navigation__link-icon"></span>
                <span class="navigation__link-text">Dashboard</span>
                <md-tooltip ng-if="!asideOpened" md-direction="right">Dashboard</md-tooltip>
            </a>
        </li>

        <li class="navigation__item">
            <a class="navigation__link {{activatedRoute name 'app.learning' 'navigation__link--active'}}" href="/app/learning">
                <span class="fa fa-leanpub navigation__link-icon"></span>
                <span class="navigation__link-text">Nauka</span>
                <md-tooltip ng-if="!asideOpened" md-direction="right">Nauka</md-tooltip>
            </a>
        </li>

        <!-- Remember to uncomment controllers and services -->
<!--        <li class="navigation__item">-->
<!--            <a class="navigation__link {{activatedRoute name 'app.import' 'navigation__link--active'}}" href="/app/import">-->
<!--                <span class="fa fa-upload navigation__link-icon"></span>-->
<!--                <span class="navigation__link-text">Import</span>-->
<!--                <md-tooltip ng-if="!asideOpened" md-direction="right">Import</md-tooltip>-->
<!--            </a>-->
<!--        </li>-->

        <li class="navigation__item">
            <a class="navigation__link {{activatedRoute name 'app.yourExpressions' 'navigation__link--active'}}" href="/app/your-expressions">
                <span class="fa fa-database navigation__link-icon"></span>
                <span class="navigation__link-text">Twoje wyrażenia</span>
                <md-tooltip ng-if="!asideOpened" md-direction="right">Twoje wyrażenia</md-tooltip>
            </a>
        </li>

        <li class="navigation__item">
            <a class="navigation__link" href="/app/statistics">
                <span class="fa fa-area-chart navigation__link-icon"></span>
                <span class="navigation__link-text">Statystyki</span>
                <md-tooltip ng-if="!asideOpened" md-direction="right">Statystyki</md-tooltip>
            </a>
        </li>

    </ul>

</aside>
