<aside class="aside">

    <div class="logo">iWords</div>

    <ul class="navigation">

        <li class="navigation__item">
            <a class="navigation__link" href="/">
                <span class="fa fa-leanpub navigation__link-icon"></span>
                Nauka
            </a>
        </li>

        <li class="navigation__item">
            <a class="navigation__link" href="/import">
                <span class="fa fa-upload navigation__link-icon"></span>
                Import
            </a>
        </li>

        <li class="navigation__item">
            <a class="navigation__link" href="/dictionary">
                <span class="fa fa-database navigation__link-icon"></span>
                Słownik
            </a>
        </li>

        <li class="navigation__item">
            <a class="navigation__link" href="/statistics">
                <span class="fa fa-area-chart navigation__link-icon"></span>
                Statystyki
            </a>
        </li>

    </ul>

</aside>
