<div class="expression-sentences">
    <h3 class="expression-sentences__heading">Przykładowe zdania</h3>
    <!-- sentences of expression -->
    <ul class="expression-sentences__list">
        <li ng-repeat="sentence in currentExpr.exampleSentences" class="expression-sentences__list-item" expression-sentence-toggler>
            \{{sentence.translation}} <span>zobacz</span>
            <!-- Original sentence -->
            <p class="expression-sentences__sentence">\{{sentence.sentence}}</p>
        </li>
    </ul>
    <!-- when there is not any expression -->
    <p ng-if="!currentExpr.hasExampleSentences">Brak przykładowych zdań do wyświetlenia</p>
</div>
