<!-- Success flash message -->
{{#if success_msg}}
    <div class="message message--success">{{success_msg}}</div>
{{/if}}

<!-- Warning flash message -->
{{#if warning_msg}}
    <div class="message message--warning">{{warning_msg}}</div>
{{/if}}

<!-- Info flash message -->
{{#if info_msg}}
    <div class="message message--info">{{info_msg}}</div>
{{/if}}

<!-- Error flash message -->
{{#if error_msg}}
    <div class="message message--error">{{error_msg}}</div>
{{/if}}
