<div class="toolbar">
    <!-- Content -->
    <div class="toolbar__content">
        <!-- Close aside trigger -->
        <div class="toolbar__menu-trigger">
            <md-button class="md-icon-button" aria-label="More" ng-click="toggleAside()">
                <span class="fa fa-bars"></span>
            </md-button>
        </div>
        <!-- Toolbar heading - displays page title -->
        <div class="toolbar__heading"><h3>{{pageTitle}}</h3></div>
    </div>
    <!-- Actions -->
    <div class="toolbar__actions">
        <span>{{user.name}}</span>
        {{>toolbar-user-menu}}
    </div>
</div>
