<div class="toolbar">
    <!-- Content -->
    <div class="toolbar__content"></div>
    <!-- Actions -->
    <div class="toolbar__actions">
        <span>{{user.name}}</span>
        {{>toolbar-user-menu}}
    </div>
</div>
