<div class="toolbar">
    <!-- Content -->
    <div class="toolbar__content">
        <!-- Toolbar heading - displays page title -->
        <div class="toolbar__heading"><h3>{{pageTitle}}</h3></div>
    </div>
    <!-- Actions -->
    <div class="toolbar__actions">
        <span>{{user.name}}</span>
        {{>toolbar-user-menu}}
    </div>
</div>
