<div class="toolbar-user-menu" ng-controller="ToolbarUserMenuCtrl">
    <button class="toolbar-user-menu__trigger">Menu</button>
    <div class="toolbar-user-menu__menu">
        user menu content
    </div>
</div>
