<!-- Warning top message -->
{{#if warning_top_msg}}
    <div class="top-message top-message--warning">{{warning_top_msg}}</div>
{{/if}}

<!-- Success top message -->
{{#if success_top_msg}}
    <div class="top-message top-message--success">{{success_top_msg}}</div>
{{/if}}

<!-- Info top message -->
{{#if info_top_msg}}
    <div class="top-message top-message--info">{{info_top_msg}}</div>
{{/if}}

<!-- Error top message -->
{{#if error_top_msg}}
    <div class="top-message top-message--error">{{error_top_msg}}</div>
{{/if}}
