<html lang="pl" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="userId" content="{{user._id}}">
    <title>iWords Platform</title>
    {{> styles}}
</head>
<body ng-controller="BodyCrl" ng-cloak>

    {{>top-flash-messages}}

    <div class="body">

        {{>aside}}

        <main class="main">

            {{>toolbar}}

            <div class="content">

                {{>flash-messages}}

                {{{body}}}

            </div>

        </main>

    </div>

{{> scripts}}
</body>
</html>
