.app-edit-note-page {
  padding: 2rem;

  .expression {
    padding: 0 0 2rem 0;

    &__sentence {
      margin-top: 1rem;
    }

    &__sentence-item {

      margin-left: 1rem;

      &:not(:last-child) {
        margin-bottom: .5rem;
      }

      span {
        font-size: .75rem;
      }
    }
  }

  .editor {
    display: flex;

    .card__content {
      flex-grow: 1;
    }

    &__element {
      .ce-block__content, .ce-toolbar__content {
        width: 100%;
      }
    }

  }

}
