.app-expression-notes-page {

  .inner-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
  }

  .card__content {
    padding: 0;
    max-height: 40rem;
    overflow: auto;
  }

  .notes-list {
    width: 50rem;
  }

  .no-filter-results {
    padding: 2rem;
    text-align: center;
  }

  .note .list__item-left {
    display: flex;
    align-items: center;
  }

  .empty-list-info {
    &__desc {
      padding: 2rem;
    }

    &__actions {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
  }

}
