.app-learning-page {
  height: 100%;

  &__learning-container {
    display: flex;
    justify-content: center;
  }

  &__learning {
    align-self: flex-start;
  }

  &__extra-data {
    align-self: flex-start;
    padding: 1rem;
  }

  &__divider {
    height: 4rem;
  }

}

