.app-learning-primary-page {
  height: 100%;

  &__learning-container {
    display: flex;
    justify-content: center;
  }

  &__learning {
    align-self: flex-start;
  }

  &__extra-data {
    align-self: flex-start;
    padding: 1rem;
  }

  &__divider {
    height: 2rem;
  }

  &__expressions-in-repeat-mode {
    width: 60%;
    margin: 0 auto;
  }

  md-tab-item {
    display: flex;
    cursor: pointer;

    .tab-badge {
      background: get-color(primaryOrange);
      color: get-color(primaryWhite);
      display: block;
      border-radius: 50%;
      width: 1.3rem;
      height: 1.3rem;
      font-size: .6rem;
      margin-left: .5rem;
    }

  }

}

