.app-login-page {


  display: flex;
  justify-content: center;

  form {
    width: 40rem;
    margin-top: 10rem;
  }

  md-input-container {
    margin: 0;
  }

  .heading {
    text-align: center;
  }

  button {
    margin: 0;
  }

}
