.app-your-expressions-page {

  .inner-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
  }

  .expressions-list {
    width: 50rem;
  }

  .expression .list__item-right > * {
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  .card__content {
    padding: 0;
    max-height: 40rem;
    overflow: auto;
  }

  .card__header {
    display: flex;
    justify-content: space-between;
  }

  .no-expressions-info {
    .card__content {
      padding: 2rem;
    }
  }

  .no-filter-results {
    padding: 2rem;
    text-align: center;
  }

}
