<div class="app-edit-note-page" ng-controller="EditNoteCtrl" ng-init="noteId='{{noteId}}'; exprId='{{exprId}}'">

    <!-- Header -->
    <div class="card__header">
        <md-button ng-click="handleSaveNote($event)" class="md-raised md-primary">Zapisz</md-button>
    </div>

    <!-- Content -->
    <div class="editor card card--with-shadow">

        <div class="card__content">

            <div class="editor__element" id="editorjs"></div>

        </div>

    </div>

</div>

<script>

    window.addEventListener('load', () => {
        IWORDS.editors.editNoteEditor.init('{{content}}');
    });

</script>
