<!-- Import CSV -->
<div class="app-import-page">

    <div ng-controller="ImportCsvCrl">
        <input type="file" onchange="angular.element(this).scope().handleInputChange(this)">
    </div>

</div>
