<div class="app-dashboard-page md-padding">

    <!-- Welcome widget -->
    <div class="welcome-wgt" style="margin-bottom: 2rem;">
        <h1>Witaj, {{user.name}}</h1>
    </div>

    <div layout>
        <div flex="30" style="margin-right: 1rem">
            {{>widgets/learning-summary-wgt}}
        </div>

        <div flex="">
            {{>widgets/expression-of-the-day-wgt}}
        </div>
    </div>

</div>
