<!-- Main page -->
<div class="app-learning-primary-page" ng-cloak ng-controller="LearningCtrl">

    <!-- Submenu -->
    <md-tabs md-dynamic-height md-border-bottom>
        <!-- Learning -->
        <md-tab label="Nauka" ng-click="handleSelectTab('learning', $event)">
            <md-content class="md-padding">
                {{> learning-tab}}
            </md-content>
        </md-tab>
        <!-- Repeats -->
        <md-tab ng-click="handleSelectTab('repeats', $event)">
            <md-tab-label>Powtórki <span class="tab-badge" ng-if="repeatCount > 0" ng-bind="repeatCount"></span></md-tab-label>
            <md-content class="md-padding">
                <div class="app-learning-primary-page__expressions-in-repeat-mode">
                    {{> learning-expressions-in-repeat-mode-tab}}
                </div>
            </md-content>
        </md-tab>
        <!-- Example sentences -->
        <md-tab label="Przykładowe zdania" ng-disabled="!currentExpr.hasExampleSentences">
            <md-content class="md-padding">
                {{> expression-example-sentences-tab}}
            </md-content>
        </md-tab>
    </md-tabs>

</div>

