<!-- Main page -->
<div class="app-learning-primary-page" ng-cloak ng-controller="LearningCtrl">

    <!-- Submenu -->
    <md-tabs md-dynamic-height md-border-bottom>
        <!-- Learning -->
        <md-tab label="Nauka" ng-click="handleSelectTab('learning', $event)">
            <md-content class="md-padding">
                {{> learning-tab}}
            </md-content>
        </md-tab>
        <!-- Repeats -->
        <md-tab label="Powtórki" ng-click="handleSelectTab('repeats', $event)">
            <md-content class="md-padding">
                <div class="app-learning-primary-page__expressions-in-repeat-mode">
                    {{> learning-expressions-in-repeat-mode-tab}}
                </div>
            </md-content>
        </md-tab>
        <!-- Example sentences -->
        <md-tab label="Przykładowe zdania">
            <md-content class="md-padding">
                {{> expression-example-sentences-tab}}
            </md-content>
        </md-tab>
    </md-tabs>

</div>

