<!-- Auth page -->
<div class="app-login-page">

    <form method="post" action="/auth/login">

        <md-card md-theme-watch>

            <md-card-title>

                <md-card-title-text>

                    <span class="md-headline">Logowanie</span>

                </md-card-title-text>

            </md-card-title>

            <md-card-content layout="column">

                <md-input-container>

                    <label>Email</label>

                    <input type="email">

                </md-input-container>

                <md-input-container>

                    <label>Hasło</label>

                    <input type="password">

                </md-input-container>

                <div>
                    <md-button class="md-raised md-primary">Zaloguj</md-button>
                </div>

            </md-card-content>

        </md-card>

    </form>

</div>
