<div class="app-note-preview-page" ng-controller="NotePreviewCtrl" ng-cloak>


    <div class="inner-container">

        <div class="card card--with-shadow card--white">

            <div class="card__content">

                {{>rendered-note}}

            </div>

        </div>

    </div>

</div>
