<!-- Auth page -->
<div class="app-login-page">

    <form method="post" action="/controllers/auth/register">

        <md-card md-theme-watch>

            <md-card-title>

                <md-card-title-text class="heading">

                    <span class="md-headline">iWords - Rejestracja</span>

                </md-card-title-text>

            </md-card-title>

            <md-card-content layout="column">

                <md-input-container>

                    <label>Imię i nazwisko</label>

                    <input name="name">

                </md-input-container>

                <md-input-container>

                    <label>Email</label>

                    <input name="email" type="email">

                </md-input-container>

                <md-input-container>

                    <label>Hasło</label>

                    <input name="password" type="password">

                </md-input-container>

                <md-input-container>

                    <label>Powtórz hasło</label>

                    <input name="repeated_password" type="password">

                </md-input-container>

                <div>
                    <md-button type="submit" class="md-raised md-primary">Utwórz konto</md-button>
                </div>

            </md-card-content>

        </md-card>

    </form>

</div>
