<!-- Statistics page -->
<div class="app-statistics-page" ng-controller="StatisticsCtrl">

    <!-- Main learning chart -->
    <div ng-if="data">
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
    </div>


</div>
