<!-- Your expressions -->
<div class="app-your-expressions-page" ng-controller="YourExpressionsCtrl" ng-cloak>

   <div class="inner-container">

       <!-- List -->
       <div class="expressions-list card card--white card--with-shadow">
           <!-- Header -->
           <div class="card__header">
               <!-- Filter input -->
               <div class="filter-input">
                   <!-- Icon -->
                   <div class="filter-input__icon">
                       <span class="fa fa-search"></span>
                   </div>
                   <input class="filter-input__input" type="text" placeholder="Szukaj">
               </div>
               <!-- List options -->
               <md-menu>
                   <!-- Menu trigger -->
                   <md-button ng-click="openMenu($mdMenu, $event)" class="md-icon-button md-primary">
                       <span md-menu-origin class="fa fa-ellipsis-v"></span>
                   </md-button>

                   <!-- Menu items -->
                   <md-menu-content width="3">

                       <md-menu-item>
                           <md-button>
                               Exportuj do pdf
                           </md-button>
                       </md-menu-item>

                       <md-menu-item>
                           <md-button>
                               Exportuj do csv
                           </md-button>
                       </md-menu-item>

                       <md-menu-item>
                           <md-button>
                               Exportuj do tsv
                           </md-button>
                       </md-menu-item>

                   </md-menu-content>
               </md-menu>

           </div>

           <!-- Card content -->
           <div class="card__content">

               <!-- Expressions list -->
               <ul class="list list--primary-style">
                   <li class="list__item">item</li>
                   <li class="list__item">item</li>
                   <li class="list__item">item</li>
                   <li class="list__item">item</li>
                   <li class="list__item">item</li>
                   <li class="list__item">item</li>
               </ul>

               <!-- Content overlay -->
               <div class="card__content-overlay"></div>

           </div>

           <!-- Footer -->
           <div class="card__footer">
               <!-- Pagination -->
               <div class="pagination">
                   <md-button class="md-icon-button md-primary" aria-label="Poprzednia strona">
                       <md-tooltip md-direction="top">Poprzednia strona</md-tooltip>
                       <span class="fa fa-angle-left"></span>
                   </md-button>

                   <md-button class="md-icon-button md-primary" aria-label="Następna strona">
                       <md-tooltip md-direction="top">Następna strona</md-tooltip>
                       <span class="fa fa-angle-right"></span>
                   </md-button>
               </div>
           </div>
       </div>

   </div>

</div>
