<div class="wgt expression-of-the-day-wgt">

    <div class="card card--with-shadow card--white">

        <div class="card__content">

            <!-- Wgt header -->
            <h2>Wyrażenie na dzisiaj to: <span>sentiment</span> - <span>transl1, transl2, transl3</span></h2>

            <md-list>

                <md-subheader class="md-no-sticky">Postaraj się wykonać poniższe zadania w ciągu całego dnia</md-subheader>

                <md-list-item class="secondary-button-padding">
                    <p> some task description </p>
                    <md-checkbox class="md-secondary"></md-checkbox>
                </md-list-item>

                <md-list-item class="secondary-button-padding">
                    <p> some task description </p>
                    <md-checkbox class="md-secondary"></md-checkbox>
                </md-list-item>

                <md-list-item class="secondary-button-padding">
                    <p> some task description </p>
                    <md-checkbox class="md-secondary"></md-checkbox>
                </md-list-item>

                <md-list-item class="secondary-button-padding">
                    <p> some task description </p>
                    <md-checkbox class="md-secondary"></md-checkbox>
                </md-list-item>

                <md-list-item class="secondary-button-padding">
                    <p> some task description </p>
                    <md-checkbox class="md-secondary"></md-checkbox>
                </md-list-item>

            </md-list>

        </div>

    </div>

</div>
