$color-palette: (
    success:       #00E676,
    danger:        #ff1744,
    primaryBlue:   #1777F2,
    secondaryBlue: #03A9F4,
    darkBlue:      #0D47A1,
    primaryWhite:  #fff,
    primaryGrey:   #FAFAFA,
    secondaryGrey: #f5f5f5,
    tertiaryGrey: #9E9E9E,
    primaryOrange: #ff6600,
    primaryBlack:  #000,
    primaryNavy:   #031525,
    secondaryNavy: #041e33,
    tertiaryNavy: #1b3a57,
    //primaryNavy:   #2a4865,
);

$breakpoints: (
  small:  576px,
  medium: 768px,
  large:  992px,
  xLarge: 1200px
);

@function get-color($color, $opacity: 1) {
  @if (map_has_key($color-palette, $color)) {
    @return rgba(map_get($color-palette, $color), $opacity);
  }
  @else {
    @return transparent;
  }

}
