.aside {
  /* When aside is closed */
  width: 4rem;
  min-width: 4rem;
  background-color: get-color(secondaryNavy);
  transition: all .4s ease-in-out;

  .navigation__link-text {
    display: none;
  }

  .logo__text {
    display: none;
  }

  /* When aside is opened */
  &.opened {
    width: 16rem;
    min-width: 16rem;
    transition: all .4s ease-in-out;

    .navigation__link-text {
      display: block;
    }

    .logo__text {
      display: flex;
    }

  }

}
