@import "learning";
@import "aside";
@import "toolbar";
@import "expression-sentences";
@import "speaking-learning";

.body {
  display: flex;
}

.main {
  flex-grow: 1;
  background-color: get-color(primaryGrey);
}

.content {
  height: calc(100vh - 60px);
  overflow: auto;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}
