.learning {

  width: 60rem;
  max-width: 60rem;
  margin: 0 auto;

  &__data {
    margin-bottom: 5rem;
  }

  &__translations {

    font-size: 2rem;
    font-weight: 700;
    text-align: center;

  }

  &__input-container {


  }


  &__input {


  }

  &__correct-answer {

    color: get-color(success);

  }

  &__controls {
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
  }

  &__repeat-icon {
    margin-right: 1rem;
    color: get-color(primaryOrange);
  }

  &__repeat-info {
    //margin-bottom: 2rem;
  }

  &__header-row {
    margin-bottom: 2rem;
    align-items: center;
  }

}
