.toolbar {
  height: 60px;
  background: get-color(primaryBlue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: get-color(primaryWhite);

  &__content {

  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__heading {}

}
