.card {
  //padding: 2rem;
  position: relative;

  &--white {
    background-color: get-color(primaryWhite);
  }

  &--with-shadow {
    box-shadow: 0 0 28px -11px rgba(0, 0, 0, 0.16);
  }

  &--success {
    background-color: get-color(success);
  }

  &--danger {
    background-color: get-color(danger);
  }

  &__header {
    padding: 1rem;
    background-color: get-color(secondaryGrey, .3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border-top-left-radius: 5px;
    //border-top-right-radius: 5px;
  }

  &__header-slot-start {}

  &__header-slot-end {}

  &__footer {
    padding: 1rem;
    background-color: get-color(secondaryGrey, .3);
    //border-bottom-left-radius: 5px;
    //border-bottom-right-radius: 5px;
  }

  &__content {
    padding: 2rem;
    position: relative;
  }

  &__content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: get-color(primaryWhite);
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: .8;
      visibility: visible;
    }

    &--centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

  }

}
