.list {

  list-style: none;
  padding: 0;
  margin: 0;
  font-size: .875rem;

  &__item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__item-left {

  }

  &__item-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &--primary-style {

    .list__item {
      &:not(:last-child) {
        border-bottom: 1px solid get-color(primaryBlack, .1);
      }

      &:hover {
        background-color: get-color(primaryGrey);
      }
    }

  }

}
