@mixin linkBase {
  color: get-color(primaryWhite, .7);
  text-decoration: none;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all .2s ease-in-out;
  font-size: 0.875rem;
}


.navigation {

  &__item {


    &--open {

      .navigation-nested {
        opacity: 1;
        //height: inherit;
        max-height: 100%;
        visibility: visible;
        overflow: hidden;
      }

    }

    &--active {
      .navigation__link {
        background-color: get-color(primaryWhite, .08);
      }
    }

  }

  &__item:not(:last-child) &__link {
    border-bottom: 1px solid get-color(tertiaryNavy);
  }

  &__link {
    @include linkBase;
    &:hover {
      background-color: get-color(primaryWhite, .08);
    }
  }

  &__link-icon {
    margin-right: 1rem;
  }


}

.navigation-nested {

  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;


  &__item {

  }

  &__link {
    @include linkBase;
    padding: 1rem;
    &:hover {
      background-color: get-color(primaryWhite, .08);
    }
  }
}
